.card-with-menu .dropdown-toggle {
  padding: 0;
}

.card-with-menu .card-title {
  margin-bottom: 0;
}

.card-with-menu .nav a {
  color: #777;
}

.card-with-menu .nav a:hover,
.card-with-menu .nav a:focus {
  color: #333;
  background-color: transparent;
}

.card-with-menu .dropdown-toggle::after {
  display: none;
}

.card-with-menu .dropdown-menu {
  font-family: VarelaRound;
}
