.salmon-calendar {
  margin-bottom: 20px;
  overflow: auto;
}

.salmon-day {
  width: 14.2857%;
  border: 1px #ddd solid;
  float: left;
  height: 72px;
  position: relative;
}

.salmon-day.header {
  height: auto;
  text-align: center;
}

.salmon-day .cell {
  position: relative;
  width: 100%;
}

.salmon-day .cell.work {
  background: #ffcb87;
}

.salmon-day .date {
  position: absolute;
  top: 0;
  left: 0;
}

.salmon-day .currentTime {
  position: absolute;
  border-top: 1px red solid;
  width: 100%;
}
